.p2 {
  padding-left: 5%;
  margin-right: 11%;
}

h3 {
  color: red;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid grey;
}

.data2 {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color:#C1DFD2;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.one {
  list-style: circle;
}

.two {
  list-style: square;
}

.box {
  border-width: 6.5px;
  border-radius: 13px;
  border-style: double;
  text-align: center;
}
